@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.logo{
  margin-left: 50px;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

}
.menu{
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu a{
  text-decoration: none;
  color: grey;
  font-size: 16px;
}

.button-row {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 40px;
  font-family: 'Inter', sans-serif;
}

.btn {
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.linkedin {
  background: #000;
  color: #fff;
}

.github {
  background: #fff;
  color: #000;
  border: 1px solid #dcdcdc;
}

.blog-link {
  text-decoration: none;
  color: #6d6d6d;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
